.wrap {
  padding: 1em;
}
.navi {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 760px;
  color: var(--color-black);
  font-size: var(--font-tlt-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1em;
  padding-bottom: 10px;
}
.navi_left,
.navi_right {
  display: inline;
}
.navi_item {
  margin: 0 5px;
  cursor: pointer;
}
.profile {
  width: var(--font-tlt-xl);
  height: var(--font-tlt-xl);
  border-radius: var(--border-radius-circle);
  margin-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  .navi {
    width: 380px;
  }
}
