@import "./common.css";
.wrap {
  padding: 1.5em 1em;
}
.search_nav {
  display: flex;
  align-items: center;
}
.full_bar1 {
  width: 310px;
  height: 2px;
  background-color: var(--color-purple);
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 0;
  opacity: 50%;
}
.search_back_btn {
  /* float: left; */
  width: 10%;
  text-align: left;
  color: var(--color-black);
  font-size: var(--font-tlt-md);
  cursor: pointer;
  margin: 0;
}
.search_list_form {
  width: 100%;
  color: var(--color-medium-grey);
}
.search_list_input {
  outline: none;
  font-size: var(--font-txt-sm);
  font-weight: var(--weight-bold);
  width: 90%;
}
.search_list_btn {
  width: 10%;
  font-size: var(--font-txt-sm);
}
.keyword_list {
  width: 310px;
  position: relative;
  z-index: 100;
  margin-left: 30px;
  border: 1px solid var(--color-light-purple);
  /* border-bottom-left-radius: var(--border-radius-xl);
  border-bottom-right-radius: var(--border-radius-xl); */
  list-style: none;
}
.keyword_item {
  /* border-bottom: 1px solid var(--color-light-purple); */
  text-align: left;
  padding: 4px;
  font-size: var(--font-txt-sm);
  font-weight: var(--weight-bold);
  cursor: pointer;
}
.keyword_item:hover {
  color: var(--color-light-purple);
}
.auto_search_icon {
  margin-right: 10px;
  color: var(--color-light-purple);
}
.search_user_list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  /* border-top: 1px solid var(--color-light-grey); */
  /* border-radius: var(--border-radius-xl); */
  padding: 10px;
}
.search_user_list_tlt {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-light-purple);
  text-align: left;
}
.search_user_list_txt {
  color: var(--color-light-grey2);
  font-size: var(--font-tlt-xs);
}
.search_users {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  overflow-y: scroll;
  max-height: 22vh;
  -ms-overflow-style: none;
}
.search_users::-webkit-scrollbar {
  display: none;
}
.search_user {
  margin-top: 5px;
  margin-right: 15px;
}
.search_user_img {
  width: 61px;
  height: 61px;
  border-radius: var(--border-radius-circle);
}
.search_user_name {
  margin: 0;
  color: var(--color-grey);
  font-size: var(--font-txt-sm);
  font-weight: var(--weight-bold);
}
.search_exhibition_list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  border-top: 1px solid var(--color-light-grey);
  padding: 10px;
}
.search_exhibition_list_tlt {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-light-purple);
  text-align: left;
}
.search_exhibition_list_txt {
  color: var(--color-light-grey2);
  font-size: var(--font-tlt-xs);
}
.search_exhibitions {
  list-style: none;
  overflow-y: scroll;
  padding: 5px;
  max-height: 45vh;
  -ms-overflow-style: none;
}
.search_exhibitions::-webkit-scrollbar {
  display: none;
}
.search_exhibition {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  /* line-height: 100%; */
  align-items: center;
  border: 1px solid var(--color-light-grey);
  box-shadow: 3px 3px 4px var(--color-grey);
  border-radius: var(--border-radius-xl);
}
.search_exhibition img {
  width: 20%;
  margin: 0 10px;
}
.search_exhibition_info {
  text-align: left;
  display: inline-block;
}
.search_exhibition p {
  font-weight: var(--weight-bold);
  margin: 0;
}
.search_exhibition_tlt {
  font-size: var(--font-tlt-md);
}
.search_exhibition_place {
  font-size: var(--font-tlt-xs);
  color: var(--color-medium-grey);
}
.search_exhibition_expiration {
  font-size: var(--font-tlt-xs);
  color: var(--color-medium-grey);
}
