@import "../../components/css/common.css";
.search_nav {
  display: flex;
  align-items: center;
}
.search_back_btn {
  /* float: left; */
  width: 10%;
  text-align: left;
  color: var(--color-black);
  font-size: var(--font-tlt-md);
  cursor: pointer;
  margin: 0;
}
.search_nav_name {
  width: 80%;
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
}
.search_header {
  text-align: left;
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  margin: 30px 0;
}
.search_input_box {
  width: 100%;
  color: var(--color-grey);
  opacity: 70%;
  margin-top: 20px;
}
.search_input {
  outline: none;
  font-size: var(--font-txt-sm);
  font-weight: var(--weight-bold);
  width: 90%;
}
.search_btn {
  width: 10%;
  font-size: var(--font-txt-sm);
}
.full_bar {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: var(--color-purple);
  margin-top: 5px;
  opacity: 50%;
}
.search_latest {
  margin: 20px 0;
  position: relative;
  z-index: 1;
}
.search_latest_tlt {
  text-align: left;
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-purple);
}
/* .search_latest_del_btn {
  border: 1px solid var(--color-medium-grey);
  border-radius: var(--border-radius-xl);
  font-size: var(--font-txt-2xs);
  color: var(--color-medium-grey);
  padding: 2px;
  margin-left: 10px;
} */
.search_latest_list {
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.search_latest_item {
  color: var(--color-light-purple);
  font-size: var(--font-txt-xs);
  font-weight: var(--weight-bold);
  padding: 3px 7px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid var(--color-light-purple);
  border-radius: var(--border-radius-xl);
}
.search_popularity {
  position: relative;
  z-index: 1;
}
.search_popularity_tlt {
  text-align: left;
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-purple);
}
.search_popularity_list {
  list-style: none;
}
.search_popularity_item {
  display: flex;
  border-bottom: 2px solid var(--color-light-grey);
  font-size: var(--font-txt-md);
  font-weight: var(--weight-bold);
  color: var(--color-grey);
  opacity: 70%;
  padding: 5px 0;
  margin: 10px 0;
  cursor: pointer;
}
.search_popularity_item:hover {
  color: var(--color-medium-purple);
}
.search_popularity_keyword {
  margin-left: 15px;
}
.purple {
  color: var(--color-medium-purple);
}
