<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.artmate.mapper.SearchMapper">
	<select id="selectKeyword" parameterType="String" resultType="SearchDto">
		SELECT *
		FROM Search
		WHERE keyword=#{keyword}
	</select>
	
	<insert id="insertKeyword" parameterType="String">
		INSERT INTO Search (keyword, cnt)
		VALUES (#{keyword}, 0)
	</insert>
	
	<update id="modifyKeywordCnt" parameterType="SearchDto">
		UPDATE Search SET cnt=#{cnt}
		WHERE keyword=#{keyword} 
	</update>
	
	<select id="selectKeywordUser" parameterType="String" resultType="UserDto">
		SELECT UserId, UserName, userImg
		FROM User
		WHERE userName like #{keyword}
	</select>
	
	<select id="selectPopular" resultType="String">
		SELECT keyword
		FROM Search ORDER BY cnt DESC limit 5;
	</select>
	
	<select id="selectAllKeywords" resultType="String">
		SELECT keyword
		FROM Search;
	</select>
	
	<select id="selectKeywordExhibit" parameterType="String" resultType="ExhibitDto">
		SELECT *
		FROM Exhibition
		WHERE name like #{keyword}
	</select>
</mapper>