.online_bg {
  background: center/cover no-repeat
    url("../../../assets/main/main_background1.png");
  padding-bottom: 200px;
}
.home_logo {
  margin-top: 80px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.home_logo_img {
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.home_logo_text {
  color: var(--color-medium-grey);
  font-size: var(--font-tlt-lg);
}
.online_box {
  width: 708px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.online_tlt {
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  padding: 1em 0;
}
.online_exhibition {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.owl-carousel .owl-item img {
  width: auto;
}
.online_exhibition_poster {
  object-fit: contain;
  text-align: center;
  margin: auto;
  max-height: 340px;
  max-width: 700px;
  box-shadow: 3px 3px 5px 0 #0000007a;
}
.online_exhibition_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  font-weight: var(--weight-bold);
}
.online_exhibition_tlt {
  font-size: var(--font-tlt-lg);
  color: var(--color-black);
  margin: 0;
  padding: 5px 0;
}
.online_exhibition_place {
  font-size: var(--font-tlt-md);
  color: var(--color-white);
  margin: 0;
}
.recommend_box {
  background: left/cover no-repeat
    url("../../../assets/main/main_background2_mobile.jpg");
  padding: 15px 0 0 15px;
}
.recommend_tlt {
  font-size: var(--font-tlt-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.recommend_keyword_list {
  display: flex;
}
.recommend_keyword {
  border: 2px solid var(--color-medium-grey);
  border-radius: var(--border-radius-xl);
  margin: 10px 20px 0 0;
  padding: 5px 20px;
  font-size: var(--font-tlt-md);
  font-weight: (--weight-bold);
  color: var(--color-medium-grey);
  cursor: pointer;
}
.recommend_keyword:hover {
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}
.recommend_keyword.active {
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}
.slide {
  background-color: transparent;
  cursor: pointer;
}
.slide_box {
  display: flex;
  justify-content: right;
}
.recommend_exhibition_poster {
  width: 200px;
  height: 260px;
  border-radius: var(--border-radius-sm);
  box-shadow: 3px 3px 5px 0 #0000007a;
}
.recommend_exhibition_info {
  margin-top: 10px;
  font-weight: var(--weight-bold);
  text-align: center;
}
.recommend_exhibition_tlt {
  font-size: var(--font-tlt-lg);
  color: var(--color-medium-grey);
  margin: 0;
}
.recommend_exhibition_place {
  font-size: var(--font-tlt-md);
  color: var(--color-white);
  margin: 0;
}
.recommend_exhibition_duration {
  font-size: var(--font-tlt-md);
  color: var(--color-white);
  margin: 0;
}
.feed_box {
  background: left/cover no-repeat
    url("../../../assets/main/main_background3.jpg");
  padding: 15px 15px 0 15px;
}
.feed_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.feed_tlt {
  font-size: var(--font-tlt-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.feed_more_btn {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  cursor: pointer;
}
.feed_message {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.feed_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
}
.feed_item {
  width: 220px;
  height: 220px;
  padding: 10px;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}
.home_around_box {
  background: left/cover no-repeat
    url("../../../assets/main/main_background4.jpg");
  padding: 50px 30px;
}
.home_around_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.home_around_tlt {
  font-size: var(--font-tlt-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.home_around_more_btn {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  cursor: pointer;
}
.home_around_message {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.home_around_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.home_around_exhibition {
  display: flex;
  border-radius: calc(var(--border-radius-sm));
  /* border: 1px solid var(--color-medium-grey); */
  box-shadow: 3px 3px 4px #99979725;
  width: 100%;
  height: 150px;
  margin: 30px 0;
  background-color: var(--color-white);
}
.home_around_exhibition_img {
  width: 40%;
  height: 100%;
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}
.home_around_exhibition_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.home_around_exhibition_tlt {
  font-size: var(--font-tlt-sm);
  font-weight: var(--weight-bold);
  color: var(--color-medium-purple);
  margin: 0;
}
.home_around_exhibition_place {
  font-size: var(--font-tlt-sm);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  margin: 0;
}
.home_around_exhibition_duration {
  font-size: var(--font-tlt-xs);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  margin: 0;
}
.footer_box {
  background: left/cover no-repeat url("../../../assets/main/footer_img.png");
  padding: 0 30px 0 30px;
}
.footer_tlt {
  font-size: var(--font-tlt-xl);
  color: var(--color-white);
  padding: 95px 0 80px 0;
}
.footer_section {
  padding: 15px 0;
}
.footer_section p {
  font-size: var(--font-txt-md);
  color: var(--color-white);
  margin: 0;
}
#last {
  padding-bottom: 50px;
}
.a {
  /* font-size: 50px; */
  opacity: 0.5;
}
.b {
  display: none;
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* 미디어 쿼리 */
@media screen and (max-width: 1024px) {
  .online_bg {
    padding-bottom: 0;
  }
  .online_box {
    width: 304px;
    min-height: 350px;
  }
  .online_tlt {
    font-size: var(--font-txt-lg);
  }
  .home_logo {
    margin-top: 70px;
  }
  .home_logo_text {
    font-size: var(--font-txt-md);
  }
  .home_logo_img {
    width: 50px;
    height: 50px;
  }
  .online_exhibition_poster {
    max-height: 200px;
    max-width: 300px;
  }
  .online_exhibition_tlt {
    font-size: var(--font-txt-md);
    padding: 3px 0;
  }
  .online_exhibition_place {
    font-size: var(--font-txt-sm);
  }
  .online_exhibition_info {
    margin-top: 5px;
  }
  .recommend_tlt {
    font-size: var(--font-tlt-lg);
  }
  .recommend_keyword {
    padding: 3px 10px;
    font-size: var(--font-txt-sm);
    margin: 5px 5px 0 0;
  }
  .recommend_exhibition {
    margin-right: 10px;
  }
  .recommend_exhibition_poster {
    width: 120px;
    height: 150px;
  }
  .recommend_exhibition_tlt {
    font-size: var(--font-txt-sm);
  }
  .recommend_exhibition_place {
    font-size: var(--font-txt-xs);
  }
  .recommend_exhibition_duration {
    font-size: var(--font-txt-xs);
  }
  .feed_box {
    padding: 15px 15px 0 15px;
  }
  .feed_header {
    margin-right: 10px;
  }
  .feed_tlt {
    font-size: var(--font-tlt-lg);
  }
  .feed_more_btn {
    font-size: var(--font-tlt-sm);
    font-weight: var(--weight-bold);
    color: var(--color-medium-grey);
    cursor: pointer;
  }
  .feed_message {
    font-size: var(--font-tlt-sm);
  }
  .feed_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0 15px 0;
  }
  .feed_item {
    width: 115px;
    height: 115px;
    padding: 5px;
    cursor: pointer;
  }
  .home_around_box {
    padding: 30px 15px;
  }
  .home_around_header {
    margin-right: 10px;
  }
  .home_around_tlt {
    font-size: var(--font-tlt-lg);
  }
  .home_around_more_btn {
    font-size: var(--font-tlt-sm);
    font-weight: var(--weight-bold);
    color: var(--color-medium-grey);
    cursor: pointer;
  }
  .home_around_message {
    font-size: var(--font-tlt-sm);
  }
  .home_around_list {
  }
  .home_around_exhibition {
    display: flex;
    height: 100px;
    margin: 15px 0;
    cursor: pointer;
  }
  .home_around_exhibition_img {
    width: 45%;
  }
  .home_around_exhibition_info {
    padding: 10px;
  }
  .home_around_exhibition_tlt {
    font-size: var(--font-txt-sm);
  }
  .home_around_exhibition_place {
    font-size: var(--font-txt-sm);
  }
  .home_around_exhibition_duration {
    font-size: var(--font-txt-xs);
  }
}
