.online_bg {
  background: center/cover no-repeat
    url("../../../assets/main/main_background1.png");
  z-index: -1;
  padding-bottom: 200px;
}
.home_logo {
  padding-top: 30px;
  /* position: sticky; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}
.home_logo_img {
  width: 45px;
  height: 45px;
}
.home_logo_text {
  color: var(--color-medium-grey);
  font-size: var(--font-txt-sm);
}
.online_box {
  width: 700px;
  margin: auto;
}
.online_tlt {
  font-size: var(--font-txt-md);
  font-weight: var(--weight-bold);
  margin-left: 10px;
}
.online_slide {
  display: flex;
  justify-content: center;
}
.carousel {
  width: 250px;
  /* height: 500px; */
  margin-top: 50px;
  margin-bottom: 0;
}
.slide {
  background-color: transparent;
  cursor: pointer;
}
.online_exhibition {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.online_exhibition_poster {
  object-fit: cover;
  text-align: center;
  margin: auto;
  max-height: 200px;
  max-width: 280px;
  /* padding: 3px; */
  box-shadow: 3px 3px 5px 0 #0000007a;
}
.online_exhibition_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  font-weight: var(--weight-bold);
}
.online_exhibition_tlt {
  font-size: var(--font-txt-lg);
  color: var(--color-black);
  margin: 0;
  padding: 5px 0;
}
.online_exhibition_place {
  font-size: var(--font-txt-md);
  color: var(--color-white);
  margin: 0;
}
.recommend_box {
  background: left/cover no-repeat
    url("../../../assets/main/main_background2_mobile.jpg");
  z-index: -1;
  padding: 15px 0 0 15px;
}
.recommend_tlt {
  font-size: var(--font-tlt-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.recommend_keyword_list {
  display: flex;
}
.recommend_keyword {
  border: 2px solid var(--color-medium-grey);
  border-radius: var(--border-radius-xl);
  margin: 10px 20px 0 0;
  padding: 5px 20px;
  font-size: var(--font-tlt-md);
  font-weight: (--weight-bold);
  color: var(--color-medium-grey);
  cursor: pointer;
}
.recommend_keyword:hover {
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}
.recommend_exhibition_slide {
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-left: 30%;
  overflow-x: scroll;
}
.recommend_exhibition_slide::-webkit-scrollbar {
  display: none;
}
.recommend_exhibition {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 40px;
}
.recommend_exhibition_poster {
  width: 300px;
}
.recommend_exhibition_info {
  font-weight: var(--weight-bold);
  text-align: right;
}
.recommend_exhibition_tlt {
  font-size: var(--font-tlt-xl);
  color: var(--color-medium-grey);
  margin: 0;
}
.recommend_exhibition_place {
  font-size: var(--font-txt-md);
  color: var(--color-white);
  margin: 0;
}
.recommend_exhibition_duration {
  font-size: var(--font-txt-md);
  color: var(--color-white);
  margin: 0;
}
.feed_box {
  background: left/cover no-repeat
    url("../../../assets/main/main_background3.jpg");
  z-index: -1;
  padding: 30px 30px 0 30px;
}
.feed_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.feed_tlt {
  font-size: var(--font-tlt-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.feed_more_btn {
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  cursor: pointer;
}
.feed_message {
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.feed_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 0 30px 0;
}
.feed_item {
  width: 470px;
  padding: 20px;
  border-radius: calc(var(--border-radius-xl) * 2);
  cursor: pointer;
}
.around_box {
  background: left/cover no-repeat
    url("../../../assets/main/main_background4.jpg");
  z-index: -1;
  padding: 30px 30px 0 30px;
}
.around_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
.around_tlt {
  font-size: var(--font-tlt-2xl);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.around_more_btn {
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  cursor: pointer;
}
.around_message {
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
}
.around_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0 30px 0;
}
.around_exhibition {
  display: flex;
  border-radius: calc(var(--border-radius-xl) * 2);
  /* border: 1px solid var(--color-medium-grey); */
  box-shadow: 3px 3px 4px var(--color-grey);
  width: 100%;
  height: 150px;
  margin: 20px 0 20px 0;
  background-color: var(--color-white);
}
.around_exhibition_img {
  width: 40%;
  height: 100%;
  border-top-left-radius: calc(var(--border-radius-xl) * 2);
  border-bottom-left-radius: calc(var(--border-radius-xl) * 2);
}
.around_exhibition_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.around_exhibition_tlt {
  font-size: var(--font-tlt-lg);
  font-weight: var(--weight-bold);
  color: var(--color-medium-purple);
  margin: 0;
}
.around_exhibition_place {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  margin: 0;
}
.around_exhibition_duration {
  font-size: var(--font-tlt-md);
  font-weight: var(--weight-bold);
  color: var(--color-medium-grey);
  margin: 0;
}
.footer_box {
  background: left/cover no-repeat url("../../../assets/main/footer_img.png");
  z-index: -1;
  padding: 0 30px 0 30px;
}
.footer_tlt {
  font-size: var(--font-tlt-xl);
  color: var(--color-white);
  padding: 95px 0 80px 0;
}
.footer_section {
  padding: 15px 0;
}
.footer_section p {
  font-size: var(--font-txt-md);
  color: var(--color-medium-grey);
  margin: 0;
}
#last {
  padding-bottom: 50px;
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* 미디어 쿼리 */
@media screen and (max-width: 1024px) {
  .online_bg {
    padding-bottom: 150px;
  }
  .online_box {
    width: 300px;
  }
  .online_exhibition_poster {
    /* width: 300px; */
    /* height: 350px; */
  }
  .online_exhibition_tlt {
    padding: 3px 0;
  }
  .online_exhibition_info {
    margin-top: 5px;
  }
  .recommend_box {
    background: left/cover no-repeat
      url("../../../assets/main/main_background2_mobile.jpg");
    z-index: -1;
    padding: 15px 0 0 15px;
  }
  .recommend_tlt {
    font-size: var(--font-tlt-lg);
  }
  .recommend_keyword {
    padding: 3px 10px;
    font-size: var(--font-txt-sm);
    margin: 5px 5px 0 0;
  }
  .recommend_exhibition_slide {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-left: 0;
  }
  .test {
    display: flex;
    justify-content: right;
  }
  .recommend_exhibition {
    margin-right: 10px;
  }
  .recommend_exhibition_poster {
    width: 120px;
    height: 150px;
  }
  .recommend_exhibition_tlt {
    font-size: var(--font-txt-sm);
    color: var(--color-brown);
    margin: 0;
  }
  .recommend_exhibition_place {
    font-size: var(--font-txt-xs);
    color: var(--color-medium-grey);
    margin: 0;
  }
  .recommend_exhibition_duration {
    font-size: var(--font-txt-xs);
    color: var(--color-medium-grey);
    margin: 0;
  }
  .feed_box {
    padding: 15px 15px 0 15px;
  }
  .feed_header {
    margin-right: 10px;
  }
  .feed_tlt {
    font-size: var(--font-tlt-lg);
  }
  .feed_more_btn {
    font-size: var(--font-tlt-sm);
    font-weight: var(--weight-bold);
    color: var(--color-medium-grey);
    cursor: pointer;
  }
  .feed_message {
    font-size: var(--font-tlt-sm);
  }
  .feed_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0 15px 0;
  }
  .feed_item {
    width: 115px;
    padding: 5px;
    border-radius: var(--border-radius-xl);
    cursor: pointer;
  }
  .around_box {
    padding: 15px 15px 0 15px;
  }
  .around_header {
    margin-right: 10px;
  }
  .around_tlt {
    font-size: var(--font-tlt-lg);
  }
  .around_more_btn {
    font-size: var(--font-tlt-sm);
    font-weight: var(--weight-bold);
    color: var(--color-medium-grey);
    cursor: pointer;
  }
  .around_message {
    font-size: var(--font-tlt-sm);
  }
  .around_list {
    padding: 15px 0 15px 0;
  }
  .around_exhibition {
    display: flex;
    border-radius: var(--border-radius-xl);
    height: 100px;
    margin: 5px 0 5px 0;
  }
  .around_exhibition_img {
    width: 45%;
    border-top-left-radius: var(--border-radius-xl);
    border-bottom-left-radius: var(--border-radius-xl);
  }
  .around_exhibition_info {
    padding: 10px;
  }
  .around_exhibition_tlt {
    font-size: var(--font-txt-md);
  }
  .around_exhibition_place {
    font-size: var(--font-txt-sm);
  }
  .around_exhibition_duration {
    font-size: var(--font-txt-sm);
  }
}
