.success_header {
  color: var(--color-white);
  font-size: var(--font-tlt-xl);
  font-weight: var(--weight-bold);
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: left;
}
.success_text {
  color: var(--color-white);
  font-size: var(--font-txt-lg);
  text-align: left;
}
.success_text p {
  padding: 4px;
  margin: 0;
}
.success_btn_group {
  display: flex;
  flex-direction: column;
  margin: 4em 0;
}
.success_mail_btn {
  border-radius: var(--border-radius-xl);
  width: 100%;
  height: 49px;
  margin: 0.7em 0;
  font-size: var(--font-tlt-xl);
}
.success_login_btn {
  border-radius: var(--border-radius-xl);
  width: 100%;
  height: 49px;
  margin: 0.7em 0;
  font-size: var(--font-tlt-xl);
}
.success_login_btn a {
  color: var(--color-white);
  text-decoration: none;
}
